body{
    margin: 0;
}

.market-container{
    padding: 50px;
    background-color: rgb(233, 229, 229);
}

.path{
    position: absolute;
    top: 0;
}

.pathText{
    color: rgb(58, 58, 251);
}

.backDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    height: 50px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.headerText{
    margin-left: 35px;
    font-size: 21px;
    font-weight: 600;
}

.headerDiv{
    display: 'flex';
    align-items: 'center';
}

.backButton{
    margin-right: 25px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(250, 137, 95);
    font-weight: bold;
    cursor: pointer;
}

.backButton:hover{
    background-color: rgb(255, 68, 0);
}

.market-form{
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.market-country-select{
    margin-top: 15px;
    width: 25%;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    border: solid 1px #ccc;
    outline: none;
}

.market-country-select:focus{
    border-color: green;
}